@import "../../../../styles/base.scss";

.formControl {
  padding-bottom: 14px;
}

.label {
  color: #666;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  display: block;
}

.input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  width: 100%;
}

.select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  width: 100%;
}

.error {
  color: #eb5757;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
